@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.page-container {
  padding: 35px;
  background-color: lightgray;
  font: "sans-serif";
}

/* 768px is the width point of md in tailwind */

/* @media only screen and (max-width: 768px) {
  .page-container {
    padding: 0 15px;
  }
} */